footer{
    /* text-align: center; */
    bottom: 0;
    /* flex: block; */
    /* justify-content: center; */
    /* margin-top: 100px; */
    position: absolute;
    /* margin: 0 auto; */
    width: 100%;
}

a {
    text-decoration:none; 
}

.title{
    /* display: flex; */
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

i{
    margin: 10px 10px;  
  }

.home{
    margin: 20px;
    padding: 20px;
}

.copyright{
    text-align: center;
    color: #444444;
    font-size: small;
}
