.container{
    text-align: center;
    padding: 20px;
}

.main_img{
    margin: 0 0 40px 0;
    border: 1px #666666 solid;
    /* 幅が400未満のときに引き伸ばす */
    width: 100%; 
    max-width: 400px;
}

button{
    width: 140px;
}

.result_animal{
    margin-bottom: 40px;
    padding: 20px;
}

.result_player{
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
}
.animal_img{
        width: 300px;
        height: 220px;
        object-fit: cover; 
        border: solid 4px #AAAAAA;
}


.submit{
    margin: 40px;
}

.users_animal{
    margin: 20px;
    font-size: 30px;
    color: #555555;
}

.player_team{
    font-size: 20px;
    margin: 20px;
}

.player_name{
    font-size: 40px;
}

.player_type{
    font-size: 15px;
    margin: 10px 0;
}

.copyright{
    text-align: center;
}

.share{
    font-size: 16px;
    vertical-align: middle;
    padding: 20px, 10px;
}

.player_info{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.player_text_info{
    width: 60%;
    margin: 0;
}

.team_img{
    width: 40%;
    margin: 20px 0;
}